body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.had-c {
    margin: 50px 140px;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    border-radius: 16px;
    flex-shrink: 0;



}

.graating {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding: 150px 530px 0px;

}

.Celebration {
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 0;
    padding-top: 0;
}

.mid-text {
    margin: 50px 140px;
    text-align: center;
    width: 1320px;
    height: 860px;
    background: aqua;
    border-radius: 16px;
}

.redt {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;


}

.smallT {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.last {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.image1 {
    width: 802.9px;
    height: 500px;
    align-items: center;

}

.banner2 {
    margin: 50px 140px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    border-radius: 16px;
}

.Welcome {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    max-width: 642px;
    padding-top: 70px;
    padding-left: 126px;
    margin-bottom: 15px;

}

.des {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    max-width: 697px;
    padding-left: 126px;
    margin-bottom: 48px;


}

.btn {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    padding-left: 158px;
}

.image2 {
    padding-top: 68px;
    padding-right: 138px;
    padding-bottom: 67px;
}

.date {

    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin: 50px 140px;
    text-align: center;
    border-radius: 16px;
    margin-top: 120px;

}

.details {
    text-align: center;
    padding: 100px 386px 0px 385px;
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 48px;
}

.redc {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.btn2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
}

.banner3 {
    margin-top: 120px;
    margin: 50px 140px;
    background-color: #FFF;
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin-top: 120px;
    display: flex;

}

.best {

    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    margin-right: 150px;

}

.soon {
    margin-top: 10px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.offer-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    max-width: 393px;
    padding-right: 65px;
}

.offer-collum2 {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;

}

.fig {


    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    padding: 45px;




}

.offer-collum3 {
    padding-left: 100px;

}

.year {

    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 0;

}

.year-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    max-width: 276px;
    margin-top: 10px;
}

.fig2 {
    width: 140px;
    height: 140px;
    margin-top: 51px;
    margin-bottom: 0;
}

.banner4 {
    margin: 50px 140px;
    margin-top: 120px;
    width: 1320px;
    height: 980px;
    background: aqua;
    border-radius: 16px;

    background-image: url("../resources/Rectangle\ 2.png");
    background-size: 1320px, 229px;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 0;


}

.sale-50 {
    text-align: center;
}

.what {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.sp1 {
    color: #F00;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}

.holiday {
    margin-top: 10px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 10px;
}

.sale-des {

    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    max-width: 1068px;
    padding-left: 150px;
    padding-right: 150px;

}

.containerU1 {
    margin-top: 50.5px;
    background-image: url("../resources/Rectangle\ 1.png");
    background-position: top right;
    background-repeat: no-repeat;


}

.container {
    display: flex;
    justify-content: space-between;


}

.grp44 {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    padding-right: 308px;
    padding-top: 125px;
    fill: #F00;

}

.grp75 {
    height: 600px;
    width: 700px;
    margin-top: 50px;
    margin-left: 70px;

}


.banner5 {

    margin: 50px 140px;
    background-color: #FFF;
    width: 1320px;
    height: 1165px;
    border-radius: 16px;
    margin-top: 120px;
}

.gifts {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}

.Awesome {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 0;
}

.dolor {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    max-width: 896px;
    margin-top: 22px;
    margin-bottom: 0;
}

.banner5-content {
    margin-top: 48px;


}

.size-of-pics {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

}

.row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

}

.banner6 {
    margin: 50px 140px;
    margin-top: 120px;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.banner6-container {
    text-align: center;
}

.mail {
    margin-top: 80px;
    width: 150px;
    height: 150px;
    margin-bottom: 0;
}

.Subscribe {
    margin-top: 10px;
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
}

.dolor1 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    max-width: 896px;
    padding-left: 210px;
    margin-top: 10px;
    margin-bottom: 40px;

}

.input {

    display: flex;

}

.email {
    width: 450px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    margin-left: 320px;
}

.sbtn {
    width: 210px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: 0;


}